@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* reset */
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 25px 0;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo > img {
    width: 200px;
}

.menu-link {
    display: flex;
    flex: 3;
    align-items: center; 
}

.menu-link > ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu-link > ul > li > a {
    text-decoration: none;
    color: #313131;
}

.menu-link > ul > li > a.active {
    font-weight: 700;
    color: #121212;
}

.pl-15 {
    padding-left: 15px;
}