@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* reset */
    margin: 0;
    padding: 0;
}

.top-menu {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.top-menu-contact {
    display: flex;
    align-items: center;
}

.top-menu-contact > ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.top-menu-contact > ul > li > a {
    text-decoration: none;
    color: #0c71c4;
}

.top-menu-contact > ul > li > a > i {
    padding-right: 3px;
}

.top-menu-social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fa-instagram {
    /* color: #D7407F; */
    color: #909090;
    font-size: 1.3rem;
}

.fa-facebook {
    /* color: #1873EB; */
    color: #909090;
    font-size: 1.3rem;
}

.fa-twitter {
    /* color: #1C9CEA; */
    color: #909090;
    font-size: 1.3rem;
}

.fa-youtube {
    /* color: #F70000; */
    color: #909090;
    font-size: 1.3rem;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #24292F;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 16px 0;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1.2;
}

.logo > img {
    width: 200px;
}

.menu-link {
    display: flex;
    flex: 3;
    align-items: center; 
}

.menu-link > ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu-link > ul > li > a {
    text-decoration: none;
    color: #CCCCCC;
}

.menu-link > ul > li > a.active {
    font-weight: 700;
    color: #FFFFFF;
}

.menu-button {
    display: flex;
    flex: 2;
    justify-content: end;
    align-items: center; 
}

.sign-in {
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: 700;
    color: #313131;
    margin-right: 5px;
}

.sign-up {
    text-decoration: none;
    background-color: #028802;
    border: 1px solid #028802;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: 700;
    color: #FFFFFF;
}

.pl-15 {
    padding-left: 15px;
}

.pl-25 {
    padding-left: 25px;
}

.pr-3 {
    padding-right: 3px;
}

.pr-10 {
    padding-right: 10px;
}

.header {
    background: url(../assets/header/background.png) no-repeat center center;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.header-content-heading {
    padding-left: 0;
}

.header-content-heading h1 {
    font-size: 75px;
    line-height: 70px;
    margin-bottom: 24px;
    color: #FFFFFF;
    font-weight: 900;
}

.header-content-heading p {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: 400;
}

.header-content-menu {
    margin-top: 42px;
}

.appointment {
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 13px 20px;
    border-radius: 4px;
    font-weight: 700;
    color: #1E5CC7;
    margin-right: 5px;
}

.learn-more {
    text-decoration: none;
    border: 1px solid #FFFFFF;
    padding: 13px 20px;
    border-radius: 4px;
    font-weight: 700;
    color: #FFFFFF;
}

.header-information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 250px;
    border-radius: 12px;
    background: url(../assets/header/map.png) no-repeat center center;
    background-size: cover;
    background-color: #ffffff;
    position: absolute;
    bottom: -65px;
    box-shadow: 0 2px 8px rgb(0 0 0 / .1);
}

.header-information > div i {
    color: #0046C0;
}

.header-information-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-information-box-count {
    font-size: 50px;
    color: #0046C0;
    font-weight: 900;
    margin: 10px 0;
}

.header-information-box-title {
    color: #385060;
    font-weight: 500;
}

.header-content-image {
    
}

.about {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 16px 0;
}

.about-picture img {
    border-radius: 4px;
}

.about-description {
    padding-left: 48px;
}

.about-description h1 {
    font-weight: 800;
    font-size: 38px;
    padding-bottom: 16px;
}

.about-description p {
    line-height: 25px;
    color: #4A6F8A;
    margin-bottom: 30px;
}

.about-check {
    padding-top: 16px;
    font-size: 18px;
    color: #444444;
}

.about-check .fa-check-circle {
    padding-right: 16px;
    color: rgb(0,70,192);
}

.about-button {
    margin-top: 60px;
}

.know-more {
    text-decoration: none;
    background-color: rgb(0,70,192);
    border: 1px solid rgb(0,70,192);
    padding: 13px 20px;
    border-radius: 4px;
    font-weight: 700;
    color: #FFFFFF;
}

.services {
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;
    padding: 40px 0;
}

.services-content { width: 80%; }

.services-content h1 { 
    padding-top: 45px;
    font-weight: 800; 
    font-size: 38px; 
}

.services-content .border-blue {
    margin-top: 5px; width: 105px; height: 4px; background-color: #0046C0;
}

.services-content-box {
    margin-top: 40px; display: flex; flex-direction: row;
}

.services-box-item {
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px rgb(0 0 0 / .1);
    width: 25%; 
    padding: 40px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.services-box-item i { color: #4D93E9; }

.services-box-item h2 { color: #232323; margin-top: 15px; }

.services-box-item p {
    line-height: 25px;
    margin-top: 15px;
    text-align: center;
    color: #4A6F8A;
}

.mr-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.our-expertise {
    display: flex; flex-direction: row;
    justify-content: space-between; margin-top: 40px;
}
.our-expertise-left { flex: 1; display: flex; flex-direction: row; }
.content-expertise-left { width: 100%; }
.content-expertise-right { width: 100%; }
.our-expertise-right {
    position: relative; flex: 1; display: flex;
    justify-content: center; align-items: center;
}
.box-blue-1 {
    position: absolute; top: 50px; left: 80px;
    background-color: #0046C0; width: 500px; height: 500px;
}
.box-blue-2 {
    position: absolute; bottom: 50px; right: 80px;
    background-color: #0046C0; width: 500px; height: 500px; z-index: 500;
}
.our-expertise-right img {
    width: 75%; z-index: 1000; box-shadow: 0 2px 8px rgb(0 0 0 / .2);
}
.our-expertise-box-item {
    background-color: #0046C0; color: #FFFFFF; width: 100%; 
    padding: 40px; display: flex; flex-direction: column; 
    justify-content: center; align-items: center;
    border-radius: 15px; text-align: center; line-height: 25px;
}
.our-expertise-box-item i.fas {
    display: flex; justify-content: center; align-items: center; width: 130px;
    height: 130px; border-radius: 100%; background-color: #FFFFFF; 
    color: #0046C0; border: 10px solid #A6BEE9;
}
.our-expertise-box-item h2 { padding-top: 17px; }
.our-expertise-box-item p { padding-top: 15px; }

.newsletter {
    display: flex; padding: 130px 0;
    justify-content: center; align-items: center;
    background-color: #FFFFFF;
}

.newsletter-content { 
    width: 80%; 
    display: flex; align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 10px; padding: 50px;
}

.newsletter-content-left { width: 50%; }

.newsletter-content-right {
    width: 50%; position: relative;
}

.newsletter-content-right > input[name=email] {
    width: 100%; padding: 20px;
    border-radius: 10px; font-size: 18px;
    border: 1px solid #0046C0;
}

.newsletter-content-right > button {
    position: absolute; top: 3px; right: 3px; 
    padding: 17px 34px; border-radius: 10px;
    border: 1px solid #0046C0;
    background-color: #0046C0;
    font-size: 18px; color: #FFFFFF;
    transition: 1s;
}

.newsletter-content-right > button:hover {
    border: 1px solid #dc2279;
    background-color: #dc2279;
    color: #FFFFFF;
    cursor: pointer;
}

.footer {
    display: flex; 
    padding: 130px 0;
    justify-content: center; 
    align-items: center;
    background: url(../assets/footer/footer-bg.png) no-repeat center center;
    background-size: cover;
    background-color: #0046C0;
}

.footer-content { 
    width: 80%; 
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.footer-content-1 { 
    width: 35%; 
}

.footer-content-2 { 
    width: 20%; 
}

.footer-content-2 ul, .footer-content-3 ul { 
    list-style: none;
}

.footer-content-2 ul li, .footer-content-3 ul li { 
    padding: 5px 0;
}

.footer-content-2 a, .footer-content-3 a { 
    text-decoration: none;
    color: #FFFFFF;
}

.footer-content-3 { 
    width: 20%; 
}

.footer-content-4 { 
    width: 25%; 
}

.footer-content-4 input[name=name],
.footer-content-4 input[name=phone],
.footer-content-4 input[name=message] { 
    width: 100%; 
    padding: 15px 0;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.footer-content-4 input[name=submit] {
    border: 1px solid #dc2279;
    background-color: #dc2279;
    color: #FFFFFF;
    transition: 1s;
    padding: 10px 15px;
}

.footer-content-4 input[name=submit]:hover {
    border: 1px solid #ece8ea;
    background-color: #ece8ea;
    color: #dc2279;
    cursor: pointer;
}

.fa-envelope, .fa-phone, .fa-map-marker-alt {
    width: 25px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.copyright {
    display: flex; 
    padding: 20px 0;
    justify-content: center; 
    align-items: center;
    background-color: #001230;
}

.copyright-content { 
    width: 80%; 
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}